//COLORS
$deepOak: #41200d;
$deepOakRbga: rgba(65, 32, 13, 0.75);
$leather: #9b805a;
$mongoose: #b99d76;
$sapling: #e0c7a4;
$tuscany: #ca6a32;
$tango: #ef792d;
$sunglow: #fecc35;
$christi: #5c9b15;
$astronaut: #233e6f;
$white: white;
$wine: #6b2737;

//SiZES
$headerHeight: 70px;

// PICTURES
$bgPicture: "/app/components/img/mainBg.jpg";
$homePicture: "/app/components/img/KvTomb.png";

// RADIUS
$colRadius: 10px;
