@import "partials/variables";
@import "partials/mixins";
@import "partials/admin";
@import "partials/header";
@import "partials/home";
@import "partials/login";
@import "partials/public";
@import "partials/quiz";
@import "partials/result";
@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap");

body,
html,
::after {
  background-attachment: fixed;
  background-image: url($bgPicture);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, Arial, Verdana, Helvetica, sans-serif;
}

.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  text-align: center;
}

h1 {
  @include titles();
}

a,
a:hover {
  text-decoration: none;
}

#msgDiv {
  margin: 15px 5px;
}

.sessionMsgDiv {
  width: 700px;
}
